.divClass h1{
    color: navy;
  }

  #thirdDiv img{
    width: 400px;
    }

  #thirdDiv{
    width: 500px;
    height: 600px;
    background-color: #eee;
    padding: 50px;
    border: thin solid #ccc;
    border-radius: 5px;
  }

  #spanId{
    font-size: 18px;
    margin: 50px;
  }